<footer class="footer">
  <div class="container footer-box">
    <div>
      <strong>XIII Coloquio Internacional de Lenguaje y Cultura</strong><br />
      <span>Pedagogías críticas: voces desde la interculturalidad</span>
    </div>
    <div>
      <span>Universidad Pedagógica y Tecnológica de Colombia · Tunja, Boyacá</span>
    </div>
  </div>
</footer>
